{% extends "layout.html.twig" %}
{% block title %}{{ parent() }} | List{% endblock %}
{% block main %}
    <h1>Lastest ideas</h1>
    {% for idea in ideas %}
        <h2><a href="{{ path("idea_detail", {"id": idea.id}) }}">{{ idea.title }}</a> by {{ idea.author }}</h2>
    {% endfor %}
    <hr>
    <form action={{ path("idea_add") }}>
    <button type="submit" class="btn btn-info">Add an idea</button>
    </form>
{% endblock %}