<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Bucket-List{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/app.css") }}">
        <link rel="icon" type="image/png" href={{ asset("media/favicon.png") }}>
    {% endblock %}
</head>

<body>
<div class="container">
    {% block container %}
        <header>
            {% block header %}
                <div>
                    <img src={{ asset("media/logo.png") }} />
                    <h1>Bucket List!</h1>
                </div>
                <ul>
                    <li><a href="{{ path("default_home") }}">Accueil</a></li>
                    <li><a href="{{ path("idea_list") }}">Latest ideas</a></li>
                    <li><a href="{{ path("default_about-us") }}">About Us</a></li>
                </ul>
            {% endblock %}
        </header>
        <main>{% block main %}{% endblock %}</main>
        <footer>
            {% block footer %}
                <p>
                    By Fabián Alexis (https://github.com/fabianalexisinostroza/Antu) [
                    <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>],
                    <a href="https://commons.wikimedia.org/wiki/File%3AAntu_color-fill.svg">via Wikimedia Commons</a>
                </p>
                <p>
                    &copy; Bucket-List {{ "now"|date("Y") }}
                </p>
            {% endblock %}
        </footer>
    {% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>

</html>
